[Unit]
Description=IMPL: BOT_DESCRIPTION
After=network.target

[Service]
User=root
Group=root
Type=simple
WorkingDirectory=IMPL: BOT_PROJ_PATH
ExecStart=IMPL: BOT_PROJ_PATH/env/bin/python main.py
Restart=always

[Install]
WantedBy=multi-user.target
